.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 20px;
  width: 100%;
  max-width: 500px;
  border: 3px solid $outline-color-primary;
  border-radius: 5px;

  &__title-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 80%;
    text-transform: uppercase;
  }

  &__score-wrap {
    padding: 5px 20px;
    color: $font-color-score;
    text-align: center;
    background-color: $font-color-primary;
    border-radius: 5px;
  }

  &__score-title {
    font-size: 1rem;
    text-transform: uppercase;
  }

  &__score-value {
    font-size: 3rem;
  }

  @include mq(small) {
    &__title {
      font-size: 2.3rem;
    }
    &__score-title {
      font-size: 1.5rem;
    }

    &__score-value {
      font-size: 3.5rem;
    }
  }
}
