*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $font-family-primary;
  font-size: $font-size-primary;
  color: $font-color-primary;
}

body {
  height: 100vh;
  background: $background-color-primary;
}
