*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $font-family-primary;
  font-size: $font-size-primary;
  color: $font-color-primary;
}

body {
  height: 100vh;
  background: $background-color-primary;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 100%;
  perspective: 1000px;

  &__game {
    flex-grow: 1;
    width: 100%;
  }
}
